<div class="support-links">
  {{ if (or .IsNode .IsPage) }}
    {{ $issueBody := printf "**On Page:** [%s](%s)" .Title .Permalink | htmlEscape }}
    {{ $issueQuery := (querify "body" $issueBody) }}
    <a href="{{ $.Site.Params.github_base_url }}/issues/new?{{ $issueQuery | safeURL }}"
       class="btn-light blue-text btn-small icon-button blank inline-flex" target="_blank">Report Issues</a>

    {{ if .Params.no_edit }}
    {{ else }}
    {{ $editQuery := (querify "description" "Signed-off-by: NAME <EMAIL_ADDRESS>\n\n> _By signing off you acknowledge adhering to the requirements listed here: https://probot.github.io/apps/dco/_") }}
    <a href="{{ $.Site.Params.github_base_url }}/edit/main/content/{{ with .File }}{{ .Path }}{{ end }}?{{ $editQuery | safeURL }}"
       class="btn-light blue-text btn-small icon-button github-button inline-flex" target="_blank">Edit</a>
    {{ end }}
  {{ end }}
</div>
